<h1 mat-dialog-title>Update user password</h1>
<div mat-dialog-content>
  <form [formGroup]="userPasswordForm" class="user-form">
    <mat-form-field appearance="fill">
      <mat-label>{{"New user password"}}</mat-label>
      <input type="password" formControlName="password" matInput required>
      <mat-error *ngIf="userPasswordForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="userPasswordForm.get('password')?.hasError('maxlength')">
        Password is <strong>too long</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onFormSubmit()" cdkFocusInitial>Save</button>
</div>
